/* line 5, /home/generall/Dropbox/dev/blog/app/assets/stylesheets/records.scss */
.node {
  stroke-width: 1px;
  cursor: pointer;
}

/* line 9, /home/generall/Dropbox/dev/blog/app/assets/stylesheets/records.scss */
.link {
  stroke: #000;
  stroke-opacity: 0.6;
}

/* line 13, /home/generall/Dropbox/dev/blog/app/assets/stylesheets/records.scss */
.dist_link {
  stroke: #000;
  stroke-opacity: 0.6;
}

/* line 17, /home/generall/Dropbox/dev/blog/app/assets/stylesheets/records.scss */
.chip {
  fill: #fff;
  stroke-width: 4px;
  stroke: #ED029A;
  animation: svg_pulse 3s ease;
  animation-iteration-count: infinite;
  pointer-events: none;
}

/* line 26, /home/generall/Dropbox/dev/blog/app/assets/stylesheets/records.scss */
.post img {
  margin: auto;
  display: block;
}

/* line 31, /home/generall/Dropbox/dev/blog/app/assets/stylesheets/records.scss */
.post ul ul li {
  margin-left: 20px;
}
